@import 'tailwindcss';

:root {
    --black-04: #242d3c;
    --sblack-01: #272a3f;
    --sblack-02: #1e244d;
    --sblack-03: #3d425a;
    --background: #ffffff;
    --foreground: #171717;
    --color-header: #1d5b43;
    --color-text-header: #ffbb00;
    --color-check-text: #919191;
    --color-text-y: #fdb056;
    --color-text-r: #fd5656;
    --color-text-f: #eaeaea;
    --color-bg-f: #f7f8fa;
    --grey-01: #e0e0e0;
    --grey-02: #f5f5f5;
    --color-text-g: #81fe95;
    --color-border: #484d4e;
    --grey: #cdcdcd;
    --bg-card: #313637;
    --color-grey: #9b9b9b;
    --bg: #232829;
    --btn: #191e1f;
    --bg-01: #2d3233;
    --white: #fff;
    --bg-03: #121d2b;
}

html {
    box-sizing: border-box;
    min-height: 100dvh;
    height: 100dvh;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}
@layer utilities {
    .text-shadow-header {
        text-shadow: 2px 2px 0 #484d4e;
    }
    .bg-gradient {
        background: linear-gradient(
            0deg,
            #79c5b8 0%,
            rgba(121, 197, 184, 0) 100%
        );
    }
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border: none;
    vertical-align: middle;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    white-space: normal;
}

body {
    width: 100%;
    box-sizing: inherit;
    position: relative;
    min-height: 100vh;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    overflow-x: auto;
    letter-spacing: 0;
}
